<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Детали пользователя</title>
    <style>
        /* Ваш CSS-код */
    </style>
</head>
<body>
<div class="container">
    <h2>Детали пользователя</h2>
    <div class="details" th:if="${user != null}">
        <div>
            <label>ID:</label>
            <span th:text="${user.id}"></span>
        </div>
        <div>
            <label>Имя:</label>
            <span th:text="${user.name}"></span>
        </div>
        <div>
            <label>Имя пользователя:</label>
            <span th:text="${user.username}"></span>
        </div>
        <div>
            <label>Email:</label>
            <span th:text="${user.email}"></span>
        </div>
        <div>
            <label>Возраст:</label>
            <span th:text="${user.age}"></span>
        </div>
        <div>
            <label>Роли:</label>
            <span th:text="${user.roles}"></span>
        </div>
    </div>
    <div th:if="${user == null}">
        <p>Пользователь не найден.</p>
    </div>
    <a th:href="@{/users}" class="btn">Вернуться к списку пользователей</a>
</div>
</body>
</html>