<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
</head>
<body>
<h1>Список пользователей</h1>
<table>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <a th:href="@{/users/details(id=${user.id})}">Детали</a>
            <a th:href="@{/users/edit(id=${user.id})}">Редактировать</a>
            <form th:action="@{/users/delete}" method="post">
                <input type="hidden" name="id" th:value="${user.id}">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
</table>
<a th:href="@{/users/add}">Добавить пользователя</a>
</body>
</html>
